/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.wrapper-basket {
  padding: 55px clamp(0rem, -0.9234rem + 3.0091vw, 2.6875rem) 50px;
  background: #fff;
}

.empty-bascet {
  width: 142px;
}

.block-logo {
  display: inline-block;
  text-decoration: none;
  padding: 15px 0;
  margin-top: clamp(0.25rem, -0.0375rem + 1.4375vw, 1.6875rem);
}

.back {
  width: clamp(1.25rem, 0.9991rem + 0.4695vw, 1.5625rem);
  height: auto;
  display: inline-block;
  position: absolute;
  transform: rotate(270deg);
  left: clamp(0rem, -0.9234rem + 3.0091vw, 2.6875rem);
  top: 14px;
  z-index: 50;
  cursor: pointer;
}

.back img {
  width: 100%;
  height: auto;
}

.back:hover {
  opacity: 1;
}

.back img {
  width: 100%;
  height: auto;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.content-basket {
  width: auto;
  height: auto;
  display: flex;
  margin-bottom: clamp(0.25rem, -0.0357rem + 0.4464vw, 0.5rem);
}

.width-icon-user {
  width: 21px;
  margin-right: 15px;
}

.block-img-icon a img {
  width: 100%;
  height: auto;
}

/* contant */
.desktop-block-description {
  display: none;
}

.mobile-block-description {
  display: none;
}

.block-description {
  width: 30%;
  height: 100%;
  /* padding-left: 50px; */
  padding-left: clamp(1.0625rem, -4.023rem + 5.9567vw, 3.125rem);
  /* padding-right: 96px; */
  padding-right: clamp(1.0625rem, -11.1119rem + 14.2599vw, 6rem);
  margin-top: clamp(0.5625rem, -3.9939rem + 8.5366vw, 6.25rem);
}

.block-coments-stil {
  width: 100%;
  height: auto;
  /* padding-left: 40px; */
  padding-left: clamp(0.375rem, -4.8646rem + 6.1372vw, 2.5rem);
}

.basket-title {
  font-family: var(--font-Roboto);
  /* font-size: 40px; 23px*/
  font-size: clamp(1.4375rem, 1.0684rem + 1.193vw, 2.5rem);
  /* line-height: 60px; */
  line-height: clamp(1.9375rem, 0.4354rem + 2.8143vw, 3.8125rem);
  font-weight: 700;
  text-transform: uppercase;
}

.title-coments-stil {
  font-size: 14px;
  color: #000;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: clamp(0rem, -1.2017rem + 2.2514vw, 1.5rem);
  border-bottom: 1px solid;
  display: inline-block;
}

.text-coments-stil {
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.description-ul {
  padding-left: clamp(0.6875rem, 0.0579rem + 2.0351vw, 2.5rem);
}

.description-ul li {
  line-height: clamp(1.1875rem, 0.6448rem + 0.8168vw, 1.625rem);
  margin-bottom: 7px;

}
.description-ul li.article-color {
  color: red;
  font-weight: 600;
}
/* .article-color {
  color: red;
  font-weight: 600;
} */

.description-ul-title {
  font-size: 14px;
  color: var(--color-body);
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: clamp(0rem, -1.5505rem + 2.3337vw, 1.25rem);
  text-transform: uppercase;
  margin-top: clamp(0.3125rem, -1.1604rem + 2.217vw, 1.5rem);
  display: inline-block;
}

.block-img {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* .img-presents {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.img-presents {
  margin-bottom: -10px;
} */

/* block-purhases */

.mobile-block-purchases {
  width: 100%;
  height: 100%;
  padding: 12px 9px;
  display: none;
}

.mobile-basket-price {
  font-size: 24px;
  color: red;
  margin-bottom: 10px;
}

.block-purchases {
  width: 30%;
  height: 100%;
  /* padding: 100px 56px; */
  padding: clamp(2.1875rem, -7.8294rem + 11.7329vw, 6.25rem) clamp(0.5625rem, -0.4468rem + 3.289vw, 3.5rem) 0;
}

.basket-price {
  font-size: 24px;
  color: red;
  margin-bottom: 10px;
}

.basket-price span,
.mobile-basket-price span {
  color: #343840;
  text-decoration: line-through;
}

.block-purchases-content {
  width: 100%;
  height: auto;
}

/* /////// */
.block-size {
  width: 100%;
  height: auto;
}

.block-size h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.item-size-cnp {
  font-size: 18px;
  padding: 9px 20px;
  margin-right: 6px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 21px;
  border: 1px solid #c1bfbf;
  color: #302b2a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  line-height: 20px;
  margin-bottom: 9px;
  cursor: pointer;
}

.size-cnp-active {
  background: #302b2a;
  color: #fff;
}

.cnp-purchases-basket,
.cnp-purchases-buy {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #443e3e;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 25px;
  cursor: pointer;
}

.cnp-purchases-basket:hover {
  background: #222;
}

.cnp-purchases-buy {
  border: 1px solid #302b2a;
  color: #302b2a;
  background: #fff;
  margin-top: 10px;
}

.block-imgs {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}


/* modal-window */

.modal-window,
.modal-window-answer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: showModalOpacity 0.5s;
  animation: showModalOpacity 0.5s;
}

.modal-hide {
  display: none;
}

@-webkit-keyframes showModalOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showModalOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.block-pustoi,
.block-pustoi-answer {
  width: 77%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.sidebar {
  min-width: 400px;
  width: 23%;
  height: 100vh;
  background: #fff;
  padding: 0 38px 15px 25px;
}

.basket-block-title {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}

.text-title,
.sidebar-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 63px;
}

.sidebar-title {
  text-align: left;
  line-height: 56px;
}

.sidebar-text {
  margin-top: -17px;
  line-height: 24px;
}

.block-sidebar-img {
  width: auto;
  height: auto;
  height: 20px;
  padding: 5px;
  position: absolute;
  right: 28px;
  top: 15px;
  cursor: pointer;
}

.block-sidebar-img.rightX {
  right: -7px;
}

.block-sidebar-img img,
.block-sidebar-img-form img {
  width: 13px;
  height: 13px;
}

.wrapper-basket-photos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(0.0625rem, -0.0628rem + 0.2606vw, 0.25rem);
}

.item-basket-img {
  width: 100%;
  height: auto;
}

.item-basket-img img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1249px) {
  .video-presents {
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 1203px) {
  .block-help {
    display: none;
  }

}

@media screen and (max-width: 951px) {
  .description-ul {
    margin-bottom: 0;
  }

  .material-description-li {
    display: none;
  }
}

@media screen and (max-width: 854px) {
  .wrapper-basket {
    padding-top: 4px;
  }

  .block-description,
  .empty-bascet {
    display: none;
  }

  .back {
    display: none;
  }

  .block-purchases,
  .block-img {
    width: 50%;
  }

  .block-purchases {
    margin-top: 41px;
  }

  .block-coments-stil {
    margin-top: -27px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-basket {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .item-basket-img {
    width: 100%;
  }

  .desktop-block-description {
    display: block;
    margin-bottom: 53px;
  }

  .desktop-block-description h1 {
    margin-bottom: 46px;
  }


  .desktop-block-description .description-ul li {
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 596px) {
  .block-coments-stil {
    display: none;
  }
}

@media screen and (max-width: 609px) {
  .card-content {
    width: 100%;
  }
}


@media screen and (max-width: 491px) {
  .block-purchases {
    display: none;
  }

  .mobile-block-purchases {
    display: block;
  }

  .block-img {
    width: 100%;
  }
}

@media screen and (max-width: 445px) {

  /* .wrapper-basket-photos {
    display: none;
  }
  .mobile-wrapper-basket-photos {
    display: block;
  } */
  .mobile-block-description {
    display: block;
    margin-top: 20px;
  }

  .mobile-block-description h1 {
    padding-left: clamp(0.6875rem, 0.0579rem + 2.0351vw, 2.5rem);
  }

  .cnp-menu {
    border: 1px solid #fff;
    border-radius: 5px;
  }

  .cnp-menu svg {
    width: 30px;
    height: 30px;
    color: #fff;
  }

  .line {
    stroke: rgb(255, 255, 255);
  }

  .cnp-purchases-basket,
  .cnp-purchases-buy {
    height: 50px;
  }
}

@media screen and (max-width: 425px) {
  .item-basket-img {
    width: 100%;
  }
}

@media screen and (max-width: 398px) {
  .sidebar {
    min-width: 100%;
  }

  .block-help {
    display: none;
  }
}