/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.block-help {
  width: 400px;
  width: clamp(18.5rem, 17.2rem + 6.5vw, 25rem);
  background: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(5px);
  box-shadow: -1px -1px 7px 0px rgba(105, 105, 105, .5);
  -moz-box-shadow: -1px -1px 7px 0px rgba(105, 105, 105, .5);
  -webkit-box-shadow: -1px -1px 7px 0px rgba(105, 105, 105, .5);


  height: auto;
  position: fixed;
  right: clamp(0.125rem, -12.0494rem + 14.2599vw, 5.0625rem);
  bottom: 0;
  border: 1px solid #eaeaea;
  z-index: 10;
  display: block;
}

.hide-help {
  display: none;
}

.block-help ul {
  padding: 0;
}

.block-help li {
  width: 100%;
  min-height: 48px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding: 0 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: rgb(75, 75, 75);
  transition: all 0.3s ease;
}

.block-help li:hover {
  background-color: rgba(0, 0, 0, 0.28);
  padding-left: 30px;
}

.img-help {
  width: 16px;
  height: auto;
  opacity: 0.7;
}

@media screen and (max-width: 980px) {
  .block-help {
    background-color: rgba(239, 205, 210, 0.5);
  }
}