/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.block-sidebar-img-form {
  width: auto;
  height: auto;
  height: 20px;
  padding: 5px;
  position: absolute;
  right: 33px;
  top: 15px;
  cursor: pointer;
}
.block-form-answer {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.text-area {
  width: 100%;
  border: 1px solid #e8e6e6;
  border-radius: 5px;
  padding: 10px 8px 8px;
  font-size: 16px;
  color: #737373;
  resize: none;
  overflow: auto;
}
.text-area:focus {
  outline: 0.5px solid #45403f;
}
.wrapp-input {
  width: 100%;
  height: auto;
  position: relative;
}
.form-answer-canseled {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 7px;
  right: 16px;
  opacity: 0.5;
  cursor: pointer;
}
.form-answer-canseled:hover {
  opacity: 1;
}
.form-answer-canseled img {
  width: 100%;
  height: auto;
}

input,
button {
  outline: none;
  border: none;
}
input[type="text"]:focus {
  outline: 0.5px solid #45403f;
  background: #fff;
}
input[type="email"]:focus {
  outline: 0.5px solid #45403f;
  background: #fff;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  font-size: 15px;
  background: #fff;
  color: rgb(20, 25, 27);
  padding: 8px 40px 8px 8px;
  border: 1px solid #e8e6e6;
  border-radius: 5px;
}
label {
  font-size: 15px;
  color: rgb(20, 25, 27);
  cursor: pointer;
}
input[type="checkbox"] {
  width: 19px;
  height: 19px;
  margin-right: 10px;
  margin-bottom: 15px;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 19px;
  height: 19px;
}
input[type="checkbox"]:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 19px;
  border: 0.5px solid #282829;
  border-radius: 3px;
  background-color: white;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  border: solid #282829;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 6px;
}

input[type="submit"],
.cancel-answer {
  width: 100%;
  height: 40px;
  background: #302b2a;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 3px;
}
input[type="submit"]:hover {
  background: #222;
}
.cancel-answer {
  background: #fff;
  color: #302b2a;
  border: 1px solid #302b2a;
}
.hide-cancel {
  display: none;
}
